.register-frame {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 85vh;
}
.register-frame form{
  background: #ffffff6b;
  padding: 50px;
  margin-top: 10%;

  button {
    padding: 5px 30px;
  }
}
